################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DoAn/FileContentIndex/70f0d72b-b0ef-45c6-bb8d-0b60c5b1f63d.vsidx
/.vs/DoAn/v17/.wsuo
